body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, oklab(95.327% 0.0015 -0.00522), #fdfdff);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}

.container {
    background: rgb(10, 232, 228);
    padding: 2rem;
    border-radius: 16px;
    width: 350px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

input, select, button {
    width: 90%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}

input, select {
    background: #fff;
    color: #000;
}

button {
    background-color: #0ea5e9;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #0284c7;
}

a {
    color: #fff;
    text-decoration: underline;
    display: block;
    margin-top: 1rem;
}
